#########################################################################################
#
# Do not change this file.
#
# Copy this file in the same directory, the filename of the copy should be "config-db.cnf".
#
#########################################################################################

# Login credentials for MYSQL CLI.
# Modify the MySQL settings below so they will match your own.
[client]
user="my_user"
password="my_password"
